<!DOCTYPE html>
<html lang="en">
<head>
    <title>控制台 - 用户管理 - 添加新闻栏目</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../../res/bacheditor/build/build.min.css" rel="stylesheet"> -->
    <link href="__CSS__/sb-admin-2.css" rel="stylesheet">
    <link href="__FONT__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/plugins/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <!--顶栏&菜单栏-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {include file='layout/toolbar'}
        {include file='layout/sidebar'}
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">添加新闻栏目</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 添加新闻栏目</div>
                    <div class="panel-body">
                        <div class="row">
                            <form action="">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>栏目名称</label>
                                        <input class="form-control" name="lists_name" id="lists_name" value="">
                                        <p class="help-block">栏目名不可重复</p>
                                    </div>
                                    <div class="form-group">
                                        <label>栏目权重</label>
                                        <input class="form-control" type="text" name="lists_sort" id="lists_sort"
                                               value="0"
                                               oninput="value=value.replace(/[^\d]/g,'')">
                                        <p class="help-block">权重仅支持数字，数字越大，栏目排序越前</p>
                                    </div>
                                    <div class="form-group">
                                        <label>栏目状态</label>
                                        <select class="form-control" name="lists_is_show" id="lists_is_show">
                                            <option value="0">请选择</option>
                                            <option value="0">上架</option>
                                            <option value="1">下架</option>
                                        </select>
                                        <p class="help-block">默认为上架状态</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-default">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__JS__/jquery-1.11.0.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/plugins/metisMenu/metisMenu.min.js"></script>
<script src="__JS__/sb-admin-2.js"></script>
<script>
    $("button").click(function () {
        var lists_name = $("#lists_name").val();
        var lists_sort = $("#lists_sort").val();
        var lists_is_show = $("#lists_is_show option:selected").val();
        if (!lists_name) {
            alert("请输入栏目名称");
        } else if (!lists_sort) {
            alert("请设置权重");
        } else {
            $.ajax({
                url: "__PANEL__/lists/add_lists",
                type: "post",
                dataType: "json",
                data: {
                    lists_name: lists_name,
                    lists_sort: lists_sort,
                    lists_is_show: lists_is_show,
                },
                success: function (data) {
                    if (data.code == 0) {
                        window.location.href = "__PANEL__/lists/index";
                        alert(data.msg);
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }
    });
</script>
</body>
</html>