<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link rel="pingback" href="#"/>
    <title>XML新闻网站</title>
    <link rel="stylesheet" href="__INDEX_CSS__/style.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/style.min.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/dark.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/pure-highlight.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/katex.min.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/emojify.min.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/prism-tomorrow.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/prism-toolbar.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/prism-line-numbers.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_CSS__/xml-index.css" type="text/css">
    <link rel="stylesheet" href="__INDEX_FONT__/css/font-awesome.min.css" type="text/css">
</head>

<body class="home blog">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="col-md-12 no-gutter">
            <div class="navbar-header">

                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                </button>

                <a class="navbar-brand" href="#">XML新闻网站</a>
            </div>
            <nav id="navbar" class="collapse navbar-collapse navbar-main-navigation" role="navigation">
                <ul id="menu-navbar" class="nav navbar-nav navbar-right">
                    <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a title="管理后台" href="http://localhost/xml-news/public/index.php/panel/index/index">管理后台</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>

<div class="container" id="main">
    <div class="row">
        <div class="single-post col-md-offset-1 col-md-8 col-md-push-3 no-gutter">
            <main id="main-content" class="site-main" role="main">

                <div class="post type-post status-publish format-standard hentry category-life">

                    <div class="info">
                        <a class="category" style="padding-top:3px" href="https://untitled.pw/life">MyLife</a>
                        <a href="https://untitled.pw/life/776.html#respond" class="comments"></a></div>

                    <h3 class="title"><a href="https://untitled.pw/life/776.html">体测前的不眠之夜，我所失去的与我能得到的。</a></h3>


                    <div class="entry-content">
                        <blockquote><p>
                            自从学校开始响应号召，严抓考核、降低划水毕业率后，体测便成为了竟能让学生无法毕业的一大障碍。然而在这重要的日子前夜，计划早早上床准备睡觉的我却彻夜未眠。心跳加速、全身发热的我在这辗转反侧的七小时里，想了很多很多。
                        </p></blockquote>
                        <h2>我想到了我的苦恼</h2>
                        <p>其实我本没有必要对自己的未来感到恐慌。</p>
                        <p>
                            我已经付出了身边的人所不可及的努力，这些努力、这无数个与自己过不去的日日夜夜使我完全可以按照自己的计划走完大学的路：大一Token、大二省教育厅、大三头条、大四苏州微软——然后从国内众多IT企业中随便选择薪酬待遇处于行业领先水平的一家，继续自己的奔三之路。</p>
                        <p>可我总感觉少了点什么。</p>
                        <p>也许是因为在这个节奏越来越快的社会，大家都太浮躁了。</p>
                        <p>有的人对计算机的热爱出于金钱、有的人对计算机的热爱出于好奇、有的人对计算机的热爱出于潮流……而更多的人，身在计算机学院，却对计算机没有哪怕一点点的热情。</p>
                        <p>
                            那些绩点4.x的同学、那些所谓『品学兼优』的同学，他们真的热爱计算机，热爱这闪烁的光标和面前这把键盘以及这背后所蕴藏的无限创意、无限可能性吗？就算他们选择的是土木，是机电，是信息，是自动化，他们也能一样优秀吧。</p>
                        <p>可我不是。</p>
                        <p>我真的热爱计算机本身。</p>
                        <p>可能因为我太寂寞，而计算机愿意听我说。</p>
                        <p>可能因为我太迟钝，而计算机愿意等我。</p>
                        <p>可能因为我太爱犯错，而计算机愿意给我机会，一次又一次。</p>
                        <p>我可以让自己变得更优秀，我可以做的事情太多了。</p>
                        <p>为什么不以这次失眠为契机，让自己今晚能早一点入眠？</p>
                        <p>这足以给予我充满斗志的每一天最基础的能量。</p>
                        <h2>Gonna make some changes.</h2>
                        <p>我的确应该做出点改变了。</p>
                        <p>只要这能让自己变得更好。</p>
                        <p>其实任何事情只要朝着『变得更好』的方向发展，都不用担心未来会变成什么样子。</p>
                        <p>因为不管是什么样子，总是好的样子。</p>
                        <hr>
                        <hr>
                        <p>点击发布后，我竟突然感到如此轻松。<br>
                            那么趁着这轻松的心情，去食堂认认真真坐下来，吃一顿早餐吧。</p>
                    </div><!-- .entry-content -->
                    <div id="tags">
                    </div>
                </div><!-- #post-## -->

            </main><!-- #main -->
        </div>


        <div class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 no-gutter" role="complementary">
            <div id="search-2" class="widget widget_search">
                <form method="get" id="searchform" class="form-inline" action="#" role="search">
                    <div class="form-group">
                        <label for="s" class="sr-only">Search</label>
                        <input type="search" class="form-control" name="s" id="s">
                    </div>
                    <input type="submit" class="btn btn-default" value="Search">
                </form>
            </div>
            <div id="categories-2" class="widget widget_categories">
                <h4 class="title text-center">分类目录</h4>
                <ul>
                    <li class="cat-item cat-item-46">
                        <a href="#">Development</a> (3)
                    </li>
                    <li class="cat-item cat-item-11">
                        <a href="#">Software</a> (18)
                        <ul class="children">
                            <li class="cat-item cat-item-109">
                                <a href="#">Linux</a> (2)
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- #sidebar -->

    </div><!-- .row -->
</div><!-- #wrapper -->

<footer class="footer">
    <div class="container-fluid" id="copyright">
        <p class="text-center">
            XML新闻网站 - ©️2019 Powered By Token丶Felix
        </p>
    </div>
</footer>

<script type="text/javascript" src="__INDEX_JS__/highlight.pack.js"></script>
<script type="text/javascript" src="__INDEX_JS__/jquery.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/katex.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/emojify.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/clipboard.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/prism-core.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/prism-autoloader.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/prism-toolbar.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/prism-line-numbers.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/prism-show-language.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/prism-copy-to-clipboard.min.js"></script>

</body>
</html>
